/* Add smooth scrolling to navbar */
html {
    scroll-behavior: smooth;
}

/* General design of body */
body {
    background-image: url("../Images/back.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    font-family: 'Catamaran', sans-serif;
    padding: 0;
    margin: 4em 0 0 0;
}

/* Design of h1, featured in header and as subtitles */
h1 {
    font-size: 5em;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Design of h2, featured in subsections */
h2 {
    font-size: 2em;
    margin: 0;
}

/* Design of h3, featured as job titles and in header */
h3 {
    font-size: 1.5em;
}

/* General design of paragraphs */
p {
    font-size: 1.2em;
    margin: 0;
}

/* Default hyperlink*/
a {
    color: rgb(134, 114, 48);
    text-decoration: none;
    margin: none;
}

/* Mouse over hyperlink*/
a:hover {
    color: rgb(185, 158, 69);
}

/* ID to center text at any point */
#center {
    text-align: center;
}

/* General design of horizontal flexbox with items centered */
.flexcenter {
    display: flex;
    justify-content: center;
}

/* General design of horizontal flexbox with no centering */
.flexrow {
    display: flex;
    justify-content: space-around;
}

/* General design of horizontal flexbox with items spaced evenly */
.flexeven {
    display: flex;
    justify-content: space-evenly;
}

/* General design of horizontal flexbox with items aligned left */
.flexleft {
    display: flex;
    justify-content: flex-start;
}

/* General design of vertical flexbox with items spaced evenly */
.flexcolumn {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

/* Design of navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(221, 221, 221);
    border-bottom: 5px solid rgb(255, 208, 0);
    overflow: hidden;
    position: fixed;
    width: 98%;
    top: 0;
    padding-left: 1%;
    padding-right: 1%;
    height: 4em;
}

/*default nav button*/
.navbar a {
    color: black;
    text-decoration: none;
    padding: 1.5em;
    text-align: center;
    margin: 0;
    font-size: 1.2em;
}

/*mouse over nav button*/
.navbar a:hover {
    color: rgb(185, 158, 69);
    text-decoration: none;
}

.navbar h1 {
    font-size: 2em;
}

nav {
    padding: 1em;
}

/* Design of header */
.header {
    background-color: white;
    margin: none;
}

/* Design of title including name and description*/
.title {
    width: 50%;
    padding: 2.5%;
    margin: 3% auto 0 0;
}

.title h2 {
    font-size: 2.5em;
    margin: 0px;
    color: white;
    background-color: black;
    border-bottom: 3px solid rgb(255,208,0);
}

/* Design of portrait photo */
.portrait {
    max-width: 22.5%;
    padding: 0.5%;
    margin: 3% 0 0 auto;
}

.portrait img {
    max-width: 100%;
    border-radius: 50%;
    border: 3px solid rgb(255, 208, 0);
}

/* Design of links banner */
.links {
    padding: 1%;
    text-align: center;
    background-color: rgb(221, 221, 221);
}

.links img {
    width: 4em;
    border-radius: 25%;
}

.links img:hover {
    opacity: 0.8;
}

/* Design of subtitles */
.subtitle {
    color: white;
    padding: 2%;
}

/* Design of text-heavy divs */
.text {
    background: white;
    margin-top: 0;
    padding: 2%;
}

.text .year {
    color: rgb(185, 158, 69);
    font-size: 1.8em;
}

/* Design of lists under jobs */
.text ul {
    list-style-type: circle;
    list-style-position: inside;
    font-size: 1.2em;
    padding: 0;
}

.text h3 {
    margin: 0;
    color: rgb(145, 145, 145);
}

/* Design of company/school names and logos */
.company img {
    max-width: 3.75em;
    margin-right: 0.5em;
}

.company img:hover {
    opacity: 0.8;
}

/* Design of other qualifications section */

/*Grid design*/
.quals p {
    width: 50%;
    padding-left: 0.5em;
}

/*Images*/
.quals img {
    max-width: 7.5em;
    border-radius: 50%;
}

.quals img:hover {
    opacity: 0.8;
}

/* Adjust size and display of icons taken from Awesomefont */
.icon {
    font-size: 3.5em;
    color: black;
    padding-right: 1%;
    margin-bottom: 1%;
}

/* Design of header styles for skills section */

/*Skill title, h1*/
.skill {
    font-size: 2.5em;
    padding-bottom: 1.5%;
    color: rgb(134, 114, 48);
    text-align: left;
}

/*Subskill title, h2*/
.language {
    font-size: 2em;
    margin-right: 3%;
}

/*Project images*/
.project img {
    width: 25em;
    margin-bottom: 1.5%;
    height: 12.5em;
}

/*Expand image on mouse over*/
.project img:hover {
    opacity: 0.7;
}

/* Logos for skills */
.logo {
    margin: 0 1% 1% 0;
}

.logo img {
    max-width: 3em;
}

.logo img:hover {
    opacity: 0.8;
}

/* Design of contact form */
.form {
    background-color: rgba(0,0,0,0.7);
    width: 80%;
    border-radius: 12.5%;
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-size: 2em;
    margin-bottom: 1em;
}

/*Input boxes*/
.input {
    background-color: rgba(255,255,255,0.7);
    font-family: 'Catamaran', sans-serif;
    font-size: 0.6em;
    width: 50%;
    border-radius: 0.5em;
    padding: 0.1em;
    text-align: center;
}

.textarea {
    min-width: 90%;
    max-width: 90%;
    min-height: 10em;
    text-align: left;
    border: inset 2px;
}

/*Button design*/
input[type=submit] {
    width: 25%;
    background-color: rgb(255, 208, 0);
    color: black;
    font-family: 'Catamaran', sans-serif;
    font-size: 0.6em;
    border-radius: 0.5em;
    padding: 0.1em;
}

input[type=submit]:hover {
    background-image: linear-gradient(rgb(134,114,48), rgb(255,208,0));
}

/*Links and heading*/
.form i {
    font-size: 2em;
    padding-bottom: 1em;
    color: rgb(221, 221, 221);
    transition: 0.3s ease-in-out;
}

/*mouse over icon*/
.form i:hover {
    color: rgb(255,208,0);
    transition: 0.3s ease-in-out;
}

/* Design of footer */
.footer {
    background-color: black;
    color: white;
    font-size: 1.5em;
    text-align: center;
    padding: 0.5em;
    border-top: 3px solid rgb(255,208,0);
}

.footer h4 {
    margin: 0;
}

/*After mail is sent*/
.footer.sent {
    overflow: hidden;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Lightboxes for click to expand images */

/*The Modal (background)*/
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 2em;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: black;
    margin: auto;
    padding: 0;
    max-height: 90%;
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: rgb(255, 208, 0);
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Hide the slides by default */
  .mySlides {
    display: none;
  }

  .mySlides img {
      height: 60%;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 30%;
    width: auto;
    padding: 1em;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: white;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  .demo {
      width: 15%;
      height: 10%;
  }
  
  .active,
  .demo:hover {
    opacity: 0.8;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

/* Media queries for responsive display and mobile */
