nav.list {
    display: flex;
    flex-direction: column;
    text-align: center;
}

nav.list a{
    color: #FFF;
    font-family: 'Grenze Gotisch', cursive;
    font-size: 20pt;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
    width: 75%;
    margin: 10px auto;
}

nav.games a {
    font-family: 'Sawarabi Mincho', sans-serif;
}

h1 {
    font-family: 'Grenze Gotisch', cursive;
    font-size: 30pt;
    text-align: center;
}

h2 {
    font-family: 'Grenze Gotisch', cursive;
    font-size: 20pt;
}

.return {
    text-decoration: none;
    color: #000;
}

a.return:hover {
    color: #666666;
}

/* General page formatting */
.bodytext {
    width: 90%;
    font-size: 15pt;
    margin: 0 auto;
    font-family: 'Sawarabi Mincho', sans-serif;
}

.bodytext li {
    font-family: 'Grenze Gotisch', cursive;
    font-size: 20pt;
    font-weight: 700;
}

.bodytext li p {
    font-family: 'Sawarabi Mincho', sans-serif;
    font-size: 15pt;
}

.bodytext ul {
    list-style-type: none;
}

/* Icon CSS */

i {
    font-size: 30pt;
    margin: auto 10px;
}

/*Fun Games*/
i.fun {
    color: #12D400;
}

/*Classics*/
i.classics {
    color: #FF00F7;
}

/*Few Drinks In*/
i.fdi {
    color: #0055FF;
}

/*Endurance*/
i.endurance {
    color: #FF9100;
}

/*Finishers*/
i.finishers {
    color: #FF0000;
}

.fa-chevron-left {
    font-size: 15pt;
}

/* Selectors specific to each game type */

/*All Games*/
a.all {
    background-color: #000;
}

a.all:hover {
    background-color: #666666;
}

/*Fun Games*/
a.fun {
    background-color: #12D400;
}

a.fun:hover {
    background-color: #30ff1d;
}

/*Classics*/
a.classics {
    background-color: #FF00F7;
}

a.classics:hover {
    background-color: #ff7cfb;
}

/*Few Drinks In*/
a.fdi {
    background-color: #0055FF;
}

a.fdi:hover {
    background-color: #008CFF;
}

/*Endurance*/
a.endurance {
    background-color: #FF9100;
}

a.endurance:hover {
    background-color: #FFB95E;
}

/*Finishers*/
a.finishers {
    background-color: #FF0000;
}

a.finishers:hover {
    background-color: #FF7575;
}

/* General design of horizontal flexbox with items aligned left */
.flexleft {
    display: flex;
    justify-content: flex-start;
}

/* General design of horizontal flexbox with items centered */
.flexcenter {
    display: flex;
    justify-content: center;
}

/* General design of horizontal flexbot with space between items */
.flexbetween {
    display: flex;
    justify-content: space-between;
}

/* Form design */
form {
    text-align: center;
}

label {
    font-family: 'Grenze Gotisch', cursive;
    margin: 0 auto;
    font-size: 1.75em;
}

.input {
    font-family: 'Sawarabi Mincho', sans-serif;
    font-size: 1em;
    width: 90%;
}

input[type="submit"] {
    font-family: 'Sawarabi Mincho', sans-serif;
    font-size: 1em;
}

/* Media queries for phone screen */
@media (max-width: 500px) {
    h1 {
        font-size: 2.3rem;
    }

    h2 {
        font-size: 1.7rem;
    }

    .flexbetween {
        flex-direction: column;
    }
}